html,
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

@font-face {
  font-family: "HJ";
  font-weight: normal;
  src: url("./fonts/DungGeunMo.ttf") format("truetype");
}

.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.backg {
  background-color: #C2E9B5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-line {
  width: 95vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='white' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='42' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  font-family: 'HJ';
  white-space: pre-line;
  position: relative;
}

.white-line p {
  margin: 0.5px 0;
  /* 요소들 간의 간격을 조절합니다 */
}

.black-line {
  width: 15vw;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='3%2c 10' stroke-dashoffset='23' stroke-linecap='square'/%3e%3c/svg%3e");
  font-family: 'HJ';
  white-space: pre-line;
  position: relative;
  padding: 10px;
}

.grey-box {
  width: 45vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECECEC;
  border-radius: 10px;
  flex-direction: column;
}

.grey-box2 {
  width: 45vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
  background-color: #ECECEC;
  border-radius: 10px;
  flex-direction: column;
  padding-left: 2vw;
}

.yellow-box {
  width: 43vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF8EF;
  border-radius: 10px;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 3vh;
}

.yellow-box-scroll {
  width: 43vw;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  background-color: #FFF8EF;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.yellow-box-scroll::-webkit-scrollbar {
  width: 5px;
}

.yellow-box-scroll::-webkit-scrollbar-thumb {
  background-color: #D8DED5;
  /* 스크롤바의 색상 */
  border-radius: 10px;
}

.sky-box-inner {
  position: relative; 
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  flex-direction: column;
  padding: 10px;
 

}

.scroll2{
  overflow-y: auto;
  max-height: 29vh;


  
}
.scroll2::-webkit-scrollbar {
  width: 5px;
}

.scroll2::-webkit-scrollbar-thumb {
  background-color: #D8DED5;
  /* 스크롤바의 색상 */
  border-radius: 10px;
}

.green-box {
  width: 15vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEF9EB;
  border-radius: 10px;
  flex-direction: column;
}

.sky-box {
  width: 43vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF8EF;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;
}

.hang {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hang p {
  margin: 0.5px 0;
  /* 요소들 간의 간격을 조절합니다 */
}

.hang2 {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hang3 {
  flex-direction: row;
  display: flex;
  justify-content: center;
  text-align: start;
  align-items: center;
}

.hang4 {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  align-items: flex-start;
}

.input-name {
  font-size: 20px;
  font-family: "HJ";
  color: #8A8A8A;
  width: 35vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  position: relative;
  background-color: white;
}

.input-2 {
  font-size: 15px;
  font-family: "HJ";
  color: #8A8A8A;
  width: 25vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  position: relative;
  background-color: white;
}

.input-3 {
  font-size: 20px;
  font-family: "HJ";
  color: #8A8A8A;
  width: 30vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  position: relative;
  background-color: white;
}

.input-4 {
  font-size: 15px;
  font-family: "HJ";
  color: #8A8A8A;
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
  position: relative;
  background-color: #D9D9D9;
}
.input-5 {
  font-family: "HJ";
  border: none;
  outline: none;
  position: relative;
  background-color: transparent;
}

.login-gray {
  color: black;
  text-decoration: none;
  /* 밑줄 없애기 */
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  /* 흐림 정도 조정 */
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'HJ';
}

.music-popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  width: 60vw;
  height: 60vh;
  outline: no6e;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  animation: fadeIn 0.1s ease-in;
  font-family: 'HJ';
}

.follow-popup-content {
  text-align: center; 
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  width: 55vw;
  height: 70vh;
  flex-direction: column;
  outline: none;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(50px);
  animation: fadeIn 0.1s ease-in;
  font-family: 'HJ';
}

.login-gray:disabled {
  cursor: not-allowed; 
}