html, body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

@font-face {
  font-family: "HJ";
  font-weight: normal;
  src: url("./fonts/DungGeunMo.ttf") format("truetype");
}

.App {
  text-align: center;
}


div {
  box-sizing: border-box;
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.backg {
  background-color: #C2E9B5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-line {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='white' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='42' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  font-family: 'HJ';
  white-space: pre-line;
}

.black-nav{  /*black-nav라는 클래스 정의한 것*/
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
