/*Main*/
.go-ground-gray {
  color: #8A8A8A;
  text-decoration: none; /* 밑줄 없애기 */
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35); /* 흐림 정도 조정 */
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'HJ';
 align-self: flex-end;
  padding-right: 10px;
  margin-top: -15px !important;
} 

.column-container {
  display: flex;
  flex-direction: column; 
  position: relative;
  overflow: hidden;
  
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  position: relative; 
}

.main-white-box {
  background-color: white;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 14px;
  width: 18vw; 
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-gray-box {
  background-color: #ECECEC;
  padding: 10px;
  height: 75vh;
  width: 55vw;
  flex: 1;
  margin: 0 15px; 
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-transparent-box {
  background-color: rgba(255, 255, 255, 0.5);
  width: 13vw; 
  height: 65vh;
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden; 
}

.trash-image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 20px;
  
}

/*감정쓰레기통*/
.exiting .letter-popup-content {
  animation: crumple 0.9s forwards; 
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes crumple {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.1) rotate(720deg); opacity: 0; }
}

.trash-popup-message {
font-size: 23px;
font-weight: bold;
text-align: start;
padding: 14px;
display: inline-block;
box-sizing: border-box; 
width: 100%; 
}

.trash-popup-textarea {
font-size: 16.5px;
font-family: 'HJ';
width: 47vw;
height: 32vh;
padding: 15px;
border: none; 
border-radius: 4px;
margin-bottom: 12px;
box-sizing: border-box;
resize: none;
outline: none; 
border-top: 2px dotted rgba(0, 0, 0, 0.1); 
}

.trash-button {
font-size: 18px;
float: right;
font-family: "HJ";
color: black;
background-color: transparent; 
border: none;
cursor: pointer;
margin-top: -8px;
margin-right: 8px;
}

.date-text {
  font-size: 20px; /* 원하는 폰트 사이즈로 조정 */
  font-family: 'HJ'; 
  text-align: start;
}

.title-text {
  font-size: 27px;
  font-family: 'HJ'; /* 원하는 폰트 패밀리로 설정 */
  text-align: start;
  margin-top: 10px;
}

.title-text div {
  margin: 0;
}
.results-list {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #692828;
  border-radius: 5px;
  max-height: 300px; /* 리스트의 최대 높이 */
  overflow-y: auto; /* 리스트가 길어지면 스크롤 생기도록 설정 */
}

.results-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results-list li {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.results-list li:hover {
  background-color: #e0e0e0;
}


.fix {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000; 
  padding: 15px;
}

/*배경&화이트라인*/ 
.backg {
  background-color: #C2E9B5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-line {
  width: 95vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='white' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='42' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  font-family: 'HJ';
  white-space: pre-line;
  position: relative;
}
.white-line p {
  margin: 0.5px 0; /* 요소들 간의 간격을 조절합니다 */
}

/*Ground.css*/
.backimage-style {
  width: 90vw;
  height: 90vh;
  max-width: 100%;
  max-height: 95%;
  margin: 0 auto;
}

.letter-case-style {
  position: absolute;
  left: 0; /* 왼쪽에 고정 */
  top: 50vh; /* 수직 중앙에 위치하도록 */
  transform: translateY(-50%); /* 수직 중앙 정렬 보정 */
  width: 18vw;
  height: auto;
  object-fit: contain;
  margin-left: 15vw; /* 오른쪽 여백 20px */
}

.tree-style {
  position: absolute;
  right: 0; /* 오른쪽에 고정 */
  top: 40vh; 
  transform: translateY(-56%); /* 수직 중앙 정렬 보정 */
  width: 31vw;
  height: auto;
  object-fit: contain;
  margin-right: 15vw; /* 오른쪽 여백 20px */
}

/*소원 텍스트박스 style*/
.text-box-style {
  position: absolute;
  top: 64vh; 
  right : 0;
  width: 37vw;
  min-height: 10vh; 
  max-height: 5vh; /* 최대 높이 설정 (5줄의 높이) */
  margin-right: 12vw; /* 오른쪽 여백 20px */
  height: 20vh;
  padding: 1.2vh;
  background-color: rgba(255, 255, 255, 0.8); /* 반투명 흰색 배경 */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 */
  font-size: 15px;
  line-height: 1.5;
  font-family: 'HJ';
  overflow-y: auto;
  cursor: text;
  box-sizing: border-box;
  text-decoration: none; 
  resize: none; 
}


.text-box-style:empty:before {
  content: "소원을 작성하세요.";
  font-family: 'HJ';
  color: #888; 
}

.text-box-style::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.text-box-style::-webkit-scrollbar-track {
  color:rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
}

.text-box-style::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바의 색상 */
  border-radius: 10px;

}

.text-box-style::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 스크롤바에 커서가 올라갔을 때 색상 */
}

/*소원 전송 보내기 버튼 style*/
.send-button {
  position: absolute;
  top: 78vh;
  right: 0;
  background-color: #888;
  width: 7vw;
  height: 5vh;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  margin-right: 10vw; /* 오른쪽 여백 20px */
}

/*소원 전송 버튼 커서 갖다대면 색 변함*/
.send-button:hover {
  background-color: #ffa7c4;
}

/* 소원 내용 없으면 버튼 누르는 거 불가능하게 */
.send-button:disabled {
  background-color: #cccccc; /* 비활성화 상태에서의 배경색 */
  cursor: not-allowed; 
}

/* 쉐도우 효과*/
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.52); /* 반투명 검정 배경 */
  width: 100%;
  height: 100vh;
  display: none; 
  z-index: 99; /* 팝업보다 아래에 위치 */
  backdrop-filter: blur(10px); /* 배경 블러 효과 */
}

.backg.blur-background .shadow {
  display: block; /* 팝업이 열릴 때 그림자를 보이게 함 */
}

/* 소원 나무 클릭 팝업 */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'HJ';
  align-items: center;
  justify-content: center;
  z-index: 100;
}
      
.tree-popup-content {
  position: relative;
  background-color: #FFF8EF; 
  padding: 25px;
  border-radius: 10px;
  width: 24vw;
  text-align: center;
   max-height: 80%;
   overflow-y: auto;
   overflow-x: hidden; 
}

.tree-popup-content::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

.nav-button {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-weight: bold;
  font-size: 26px;
  z-index: 100;
}

.nav-button.left {
  left: 0;
  color: #666666;
  margin-left: 0.5vw;
}

.nav-button.right {
  right: 0; 
  color: #666666;
  margin-right: 0.5vw;
}

.wish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56vh;
}

.popup-title {
  font-size: 25px;
  font-weight: bold;
  padding-top: 1vh;
  padding-bottom: 1.3vh;
  top: 0;
  background-color: #FFF8EF;
  z-index: 102;
}

.popup-body {
  font-size: 18px;
  margin-left: 1vh;
  margin-right: 1vh;
  word-break: break-word; 
  overflow-y: none; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  height: 100%; 
  
}

.close-button {
  position: absolute;
  top: 1vh;
  right: 1.1vh;
  background: transparent; 
  border: none;
  font-size: 24px;
  color: #888;
}


/*letter.css*/

.gray {
    width: 90vw;
    height: 90vh;
    max-width: 100%;
    max-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECECEC;
    border-radius: 10px;
    flex-direction: column;
}
  
.yellow{
    padding: 55px;
    width: 85vw;
    height: 79vh;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 3vh;
    background-color: #FFF8EF;
    border-radius: 10px;
    position: relative;
}

.hangs{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh; 
}

.hangs p {
    margin: 0;
    min-width: 8vw; 
}

.input-title {
    font-size: 20px;
    font-family: "HJ";
    color: #8A8A8A;
    width: 65vw; 
    height: 5vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: white;
    margin-left: 10px; 
}


.input-date {
    font-size: 20px;
    font-family: "HJ";
    color: #8A8A8A;
    width: 65vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: white;
    box-sizing: border-box;


    margin-left: 10px;
}

.input-content {
    font-size: 20px;
    font-family: "HJ";
    color: #8A8A8A;
    width: 65vw; 
    height: 23vh; 
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px; 
    background-color: white;
    box-sizing: border-box; 
    resize: none; 
    overflow: auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 상단 정렬 */
    text-align: left; 
    margin-left: 10px;
}

.input-content::-webkit-scrollbar {
    width: 5px; 
}

.input-content::-webkit-scrollbar-track {
    color:rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
}

.input-content::-webkit-scrollbar-thumb {
    background: #9c9c9c; 
    border-radius: 10px; 
}

.input-content::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3; 
}

.submit-button {
    font-size: 20px;
    float: right;
    font-family: "HJ";
    color: black;
    background-color: transparent; /* 버튼 색상 */
    border: none;
    cursor: pointer;
}


/* 쉐도우 효과*/
.shadow {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.52); /* 반투명 검정 배경 */
    width: 100%;
    height: 100vh;
    display: none; 
    z-index: 99; /* 팝업보다 아래에 위치 */
    backdrop-filter: blur(10px); /* 배경 블러 효과 */
  
  }
  .backg.blur-background .shadow {
    display: block; /* 팝업이 열릴 때 그림자를 보이게 함 */
  }


.letter-popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .letter-popup-content {
    text-align: center; 
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left; 
    width: 50vw;
    height: 50vh;
    outline: none;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(50px);
    animation: fadeIn 0.1s ease-in;
    font-family: 'HJ';
  }

  .letter-popup-input {
    font-size: 18px;
    flex: 1;
    padding: 16px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    outline: none; 
    background-color: rgba(217, 217, 217, 0.5); /* d 반투명 색상 */
    font-family: 'HJ';

  }
  
  .letter-popup-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .letter-popup-button {
    padding: 10px 90px;
    border: none;
    font-size: 18px;
  }
  
  .letter-popup-button.confirm {
    background-color: transparent; 
    color: gray;
    font-family: 'HJ';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
  }
  .letter-popup-button.cancel {
    background-color:transparent;
    font-family: 'HJ';
    color: gray;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .letter-popup-message {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .hang-apple {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    align-items: center;
  }

